<div id="main-nav">
    <img class="hidden-mobile" src="{{ "/assets/img/icons/logo_big.svg" | relative_url }}" alt="">
    <nav class="desktop-nav">
        <ul>
            {% assign doclist = site.page_collection | sort: 'position'  %}
            {% for item in doclist %}
            {% if item.title == 'home' %}
                <li class="active {{item.title}}">{{item.title}}</li>
            {% else %}
                <li class="{{item.title}}">{{item.title}}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
