body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: black;
  color: $inactive;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: 7vw auto;
  z-index: 1;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );

  .nav-sidebar {
    height: 100%;
    border-right: 1px solid $border-color;
    grid-column: 1;
    font-variant: small-caps;
    font-size: 1.4em;
    position: relative;
    left: -10vw;

    .hidden-desktop {
      display: none;
    }

    .logo-text {
      width: 50%;
      margin: auto;
    }

    .desktop-nav {
      padding-right: 10px;
      ul {
        li {
          text-align: right;
          cursor: pointer;

          &:nth-child(even){
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
          }
          &:hover {
            color: red;
          }
        }
      }
    }

    @media screen and (max-width: $mobile) {
      width: 42px;
      .hidden-mobile {display: none;}
      .hidden-desktop {display: block}
      background: url('../assets/img/icons/logo_small.svg') no-repeat bottom ;
      background-size: 42px ;
      position: fixed;
    }
  }
  .content-container {
    height: 90%;
    grid-column: 2;
    position: relative;
    display: flex;

    .content {
      width: 65%;
      max-height: calc(100% - 38px);
      padding-left: 5%;
      padding-top: 7.5%;
      box-sizing: border-box;
      opacity: 0;

      h1 {
        font-size: 4em;
        font-variant: small-caps;
        color: $main;

        span {
          color: $secondary;
        }

      }
      p {
        font-family: 'Cabin', sans-serif;
        color: $main;
        line-height: 1.5rem;
        padding: 1% 0 2% 0;
        &:last-of-type {
          padding-bottom: 75px;
        }
      }

      @media screen and (max-width: $mobile) {
        width: 100%;
        max-height: 85%;
        padding-right: 5%;
        padding-bottom: calc(33px - 7.5%);
      }
    }
    a > img:first-of-type {
      position: absolute;
      right: 0;
      top: 0;
      border: 0;
      opacity: 0;
      z-index: 2;
      animation: show 0.5s ease-in 4s forwards;
      @media screen and (max-width: $mobile) {
        width: 20%;
      }
    }
    #drawing {
      width: 40%;
      @media screen and (max-width: $mobile) {
        display: none;
      }
    }

  }
  .nav-footer {
    width: calc(100% - 42px);
    background: black;
    display: none;
    border-top: 1px solid $border-color;
    position: fixed;
    bottom: -43px;
    right: 0;

    @media screen and (max-width: $mobile) {
      display: block;
      height: 32px;
      ul {
        height: 100%;
        max-width:70%;
        min-width: 65%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-variant: small-caps;
        font-size: 1.5em;
        li{
          display: inline;
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
  .active {
    color: $active;
    display: block;
  }
  .hidden {
    display: none;
  }
}

#loading {
  width: 100vw;
  height: 100vh;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;

  .divider {
    height: 100vh;
    width: 0;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    animation: divider 0.75s forwards;
  }
}

#particles-js {

  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(90, 90, 90, 0.26);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292929;
}
@keyframes divider {
  100% {width: 100vw;}
}

@keyframes slideRight {
  100% {left: 0}
}
@keyframes slideUp {
  100% {bottom: 0}
}

@keyframes tilt {
  100% { transform: rotate3d(-5, 5, 0, 50deg); }
}
@keyframes show {
  100% { opacity: 1 }
}

