body {
  height: 100vh;
  width: 100vw;
  background: black;
  color: $inactive;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 7vw auto;
  z-index: 5;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
  @media screen and (max-width: $mobile) {
    grid-template-columns: 32px auto;
  }

  .nav-sidebar {
    height: 100vh;
    border-right: 1px solid $border-color;
    grid-column: 1;
    font-variant: small-caps;
    font-size: 1.4em;

    .hidden-desktop {
      display: none;
    }

    .logo-text {
      width: 50%;
      margin: auto;
    }

    .desktop-nav {
      padding-right: 10px;
      ul {
        li {
          text-align: right;
          cursor: pointer;

          &:nth-child(even){
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
          }
          &:hover {
            color: red;
          }
        }
      }
    }

    @media screen and (max-width: $mobile) {
      .hidden-mobile {display: none;}
      .hidden-desktop {display: block}
      background: url('../assets/img/icons/logo_small.svg') no-repeat bottom ;
      background-size: 42px ;
    }

  }
  .content-container {
    grid-column: 2;
    position: relative;
    display: flex;
    overflow: hidden;

    .content {
      width: 60%;
      margin-left: 5%;
      margin-top: 7.5%;
      overflow: auto;

      h1 {
        font-size: 4em;
        line-height: 50px;
        font-variant: small-caps;
        color: $main;
        span {
          color: $secondary;
        }

      }
      p {
        font-family: 'arial', sans-serif;
        color: $main;
        margin: 1% 0 2% 0;
      }
      @media screen and (max-width: $mobile) {
        width: 100%;
        max-height: 85%;
        padding-right: 5%;
        padding-bottom: 10%;
      }
    }

    .nav-footer {
      width: 100%;
      display: none;
      border-top: 1px solid $border-color;
      position: absolute;
      bottom: 0;

      @media screen and (max-width: $mobile) {
        display: block;
        ul {
          height: 100%;
          max-width: 75%;
          min-width: 55%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-variant: small-caps;
          font-size: 2em;
          li{
            display: inline;
            cursor: pointer;
            &:hover {
              color: red;
            }
          }
        }
        height: 32px;
      }
    }
  }
}

#drawing {
  width: 600px;
  height: 500px;
  position: fixed;
  top: 12%;
  right: 5%;
}

.active {
  color: $active;
  display: block;
}
.hidden {
  display: none;
}

#particles-js {

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

@keyframes tilt {
  100% { transform: rotate3d(-5, 5, 0, 50deg); }
}
@keyframes clear {
  100% { transform: scale(0); }
}