html, body, div, span, input, button, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: inherit;
  color: inherit; }
  a:active {
    outline: none;
    border: none; }

html {
  height: 100%; }
  html body {
    display: flex;
    height: 100%;
    background: #000000; }
    html body #site-container {
      height: 100%;
      z-index: 2;
      overflow-x: hidden;
      flex: 1;
      display: grid;
      grid-gap: 3%;
      grid-template-columns: minmax(110px, 1fr) 6fr 5fr; }
      html body #site-container #content p {
        margin: 2% 0; }
      html body #site-container #content > div {
        padding-top: 55px; }
      html body #site-container #svg-container {
        width: 90%; }
      @media screen and (max-width: 868px) and (min-width: 426px) {
        html body #site-container {
          grid-template-columns: minmax(80px, 1fr) 11fr;
          grid-auto-rows: auto;
          grid-gap: 20px;
          grid-template-areas: 'nav content' 'nav svg'; }
          html body #site-container #main-nav {
            grid-area: nav; }
          html body #site-container #content {
            grid-area: content; }
            html body #site-container #content > div {
              padding-top: 20px; }
          html body #site-container #svg-container {
            grid-area: svg; } }
      @media screen and (max-width: 425px) {
        html body #site-container {
          grid-template-columns: minmax(250px, 1fr);
          grid-template-rows: 100px auto 1fr;
          grid-gap: 10px; }
          html body #site-container #content {
            padding-top: 0; }
            html body #site-container #content p {
              margin: 4% 0; }
          html body #site-container #svg-container {
            display: flex;
            justify-content: center; }
          html body #site-container #main-nav {
            display: flex;
            justify-content: space-between;
            align-items: flex-start; }
            html body #site-container #main-nav img {
              height: 100%; }
            html body #site-container #main-nav nav, html body #site-container #main-nav li {
              display: inline-block; }
            html body #site-container #main-nav nav {
              align-self: flex-end;
              min-width: 220px; }
            html body #site-container #main-nav li:last-of-type {
              margin-right: 15px; } }
    html body #particles-js {
      z-index: 1;
      width: 100vw;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0; }

#site-container {
  font-family: 'Roboto Condensed', sans-serif;
  color: #d9d9d9;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 40%); }
  #site-container #main-nav {
    font-size: 1.3em;
    font-variant: small-caps;
    border-right: 1px solid #28272a;
    animation: slideRight 0.4s forwards; }
    #site-container #main-nav li {
      border-bottom: 1px solid #28272a;
      text-align: right;
      padding-right: 10px;
      cursor: pointer;
      color: #b4b4b4; }
      #site-container #main-nav li:last-of-type {
        border-bottom: 0; }
      #site-container #main-nav li:hover {
        color: #c21d22; }
      @media screen and (max-width: 868px) and (min-width: 426px) {
        #site-container #main-nav li {
          padding-right: 5px; } }
    #site-container #main-nav li.active {
      color: #e5e5e5; }
    @media screen and (max-width: 425px) {
      #site-container #main-nav {
        border-right: 0;
        border-bottom: 1px solid #28272a;
        animation: slideDown 0.4s forwards; }
        #site-container #main-nav li {
          border-bottom: 4px solid #28272a;
          padding: 0 5px; }
          #site-container #main-nav li:last-of-type {
            border-bottom: 4px solid #28272a; }
          #site-container #main-nav li:hover {
            border-color: #c21d22; } }
  #site-container #content .hidden {
    display: none; }
  #site-container #content .active {
    display: block; }
  #site-container #content h1 {
    font-size: 4em;
    font-variant: small-caps;
    color: #d9d9d9;
    line-height: 3rem;
    animation: show 1s forwards; }
    #site-container #content h1 span {
      color: #c21d22;
      animation: show 1.2s forwards; }
  #site-container #content p {
    animation: show 0.9s forwards;
    font-family: 'Cabin', sans-serif;
    color: #d9d9d9;
    line-height: 1.6rem;
    font-size: 1.2em; }
  @media screen and (max-width: 868px) and (min-width: 426px) {
    #site-container #content {
      padding-right: 10px; }
      #site-container #content P {
        font-size: 1.1em;
        line-height: 1.2rem; } }
  @media screen and (max-width: 425px) {
    #site-container #content {
      padding: 0 15px; }
      #site-container #content h1 {
        font-size: 3rem; }
      #site-container #content P {
        font-size: 1em;
        line-height: 1.2rem; } }

@keyframes tilt {
  100% {
    transform: rotate3d(-5, 5, 0, 50deg); } }
@keyframes slideRight {
  0% {
    transform: translateX(-100%); } }
@keyframes slideDown {
  0% {
    transform: translateY(-100%); } }
@keyframes show {
  0% {
    opacity: 0; } }
